/* width */
::-webkit-scrollbar {
    width: 9px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1111119d; 
    border-radius: 10px;
    backdrop-filter:blur(8px);
    -webkit-backdrop-filter:blur(8px);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #111111e3; 
  }